<h1> Horarios </h1>

<% Schedule.all.each do |schedules| %>
  <%= schedules.schedule_id %>
  <ul></ul>
  <%= schedules.endweek %>
  <ul></ul>
  <%= schedules.midweek %>
  <ul></ul>
  <%= schedules.festivos %>
  <ul></ul>
<% end %>
