html,body{
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

a,a:visited{
  color:inherit;
  text-decoration: none;
}

.be-blue{
  background-color: rgb(50,50,200);
}

.white{
  color: white;
}

.large-padding{
  padding: 15px 10px
}
