<h1> Lugares </h1>

<% Place.all.each do |places| %>
  <!--<%= places.id %>-->
  <ul></ul>
  <%= places.nombre %>
  <ul></ul>
  <%= places.telefono %>
  <ul></ul>
  <%= places.direccion %>
  <ul></ul>

  <ul></ul>
<% end %>
