<!DOCTYPE html>
<html>
<head>
  <title>Alltime</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
      <nav class="be-blue white" large-padding>
        <ul class "no-list row center-xs">
          <li class="cold-md">
            <h1>Alltime backend</h1>
          </li>
          <li class="col-md">
            <a href="root_path">Inicio</a>
          </li>
          <li class="col -md">
            <b href= "places_path">db places</a>
          </li>
        </ul>
      </nav>
  </header>

<%= yield %>

</body>
</html>
